# Fake news Detection

### Importing required library

In [5]:
import pandas as pd
import numpy as np
#import seaborn as sns
#import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
#from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string

### Inserting fake and real dataset

In [6]:
df_fake = pd.read_csv("Fake.csv")
df_true = pd.read_csv("True.csv")

In [7]:
df_true.head(10)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

Inserting a column called "class" for fake and real news dataset to categories fake and true news.

In [8]:
df_fake["class"] = 0
df_true["class"] = 1

Removing last 10 rows from both the dataset, for manual testing

In [9]:
df_fake.shape, df_true.shape

((23481, 5), (21417, 5))

In [10]:
df_fake_manual_testing = df_fake.tail(10)
for i in range(23480,23470,-1):
    df_fake.drop([i], axis = 0, inplace = True)
df_true_manual_testing = df_true.tail(10)
for i in range(21416,21406,-1):
    df_true.drop([i], axis = 0, inplace = True)

Merging the manual testing dataframe in single dataset and save it in a csv file

In [11]:
df_manual_testing = pd.concat([df_fake_manual_testing,df_true_manual_testing], axis = 0)
#chown ja:admin afc_east.csv
df_manual_testing.to_csv("manual_testing.csv")

Merging the main fake and true dataframe

In [12]:
df_marge = pd.concat([df_fake, df_true], axis =0 )
df_marge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [13]:
df_marge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [14]:
#"title",  "subject" and "date" columns is not required for detecting the fake news, so drop the columns.

In [15]:
df = df_marge.drop(["title", "subject","date"], axis = 1)
df.head(10)

                                                text  class
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0
5  The number of cases of cops brutalizing and ki...      0
6  Donald Trump spent a good portion of his day a...      0
7  In the wake of yet another court decision that...      0
8  Many people have raised the alarm regarding th...      0
9  Just when you might have thought we d get a br...      0

#### Randomly shuffling the dataframe

In [16]:
df = df.sample(frac = 1)

In [17]:
df.head(10)

                                                    text  class
7982   FORT LEE, Va. (Reuters) - President Barack Oba...      1
6651   One thing has been made abundantly clear: Repu...      0
8542   NEW YORK (Reuters) - Democratic presidential n...      1
11366  Jimmy Kimmel started out his interview with gu...      0
11056  (Reuters) - Hillary Clinton agreed on Thursday...      1
11547                                                         0
12960  ISTANBUL (Reuters) - Turkey s foreign ministry...      1
18539  REZA ASLAN is a CNN host who is a Muslim  reli...      0
18064  MEXICO CITY (Reuters) - An indigenous woman ba...      1
10048  WASHINGTON - Donald Trump proposed on Tuesday ...      1

In [18]:
df.isnull().sum()

text     0
class    0
dtype: int64

In [19]:
df.reset_index(inplace = True)
df.drop(["index"], axis = 1, inplace = True)

In [20]:
df.columns

Index(['text', 'class'], dtype='object')

In [21]:
df.head()

                                                text  class
0  FORT LEE, Va. (Reuters) - President Barack Oba...      1
1  One thing has been made abundantly clear: Repu...      0
2  NEW YORK (Reuters) - Democratic presidential n...      1
3  Jimmy Kimmel started out his interview with gu...      0
4  (Reuters) - Hillary Clinton agreed on Thursday...      1

#### Creating a function to convert the text in lowercase, remove the extra space, special chr., ulr and links.

In [22]:
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [23]:
df["text"] = df["text"].apply(wordopt)
df.head(10)

                                                text  class
0  fort lee  va   reuters    president barack oba...      1
1  one thing has been made abundantly clear  repu...      0
2  new york  reuters    democratic presidential n...      1
3  jimmy kimmel started out his interview with gu...      0
4   reuters    hillary clinton agreed on thursday...      1
5                                                         0
6  istanbul  reuters    turkey s foreign ministry...      1
7  reza aslan is a cnn host who is a muslim  reli...      0
8  mexico city  reuters    an indigenous woman ba...      1
9  washington   donald trump proposed on tuesday ...      1

#### Defining dependent and independent variable as x and y

In [24]:
x = df["text"]
y = df["class"]

#### Splitting the dataset into training set and testing set.

In [25]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

#### Convert text to vectors

In [26]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [27]:
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

### 1. Logistic Regression

In [28]:
from sklearn.linear_model import LogisticRegression

In [29]:
LR = LogisticRegression()
LR.fit(xv_train, y_train)

LogisticRegression()

In [30]:
LR.score(xv_test, y_test)

0.9861853832442068

In [31]:
pred_lr=LR.predict(xv_test)

In [32]:
print(classification_report(y_test, pred_lr))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5882
           1       0.98      0.99      0.99      5338

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [33]:
import pickle
filename = 'finalised_model.pkl'
pickle.dump(LR,open(filename,'wb'))

In [34]:
filename = 'vectorizer.pkl'
pickle.dump(vectorization,open(filename,'wb'))

# Model Testing With Manual Entry

### News

In [35]:
def output_lable(n):
    if n==0:
        return "Fake News"
    elif n==1:
        return "True News"
def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt) 
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    pred_LR = LR.predict(new_xv_test)
    #pred_DT = DT.predict(new_xv_test)
    #pred_GBC = GBC.predict(new_xv_test)
    #pred_RFC = RFC.predict(new_xv_test)
    return print("\n\nLR Prediction: {}".format(output_lable(pred_LR[0])))

In [36]:
news = str(input())
manual_testing(news)

LR Prediction: Fake News